1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "warriorcurio"
      VALUE "FileDescription", "Cubeventures"
      VALUE "FileVersion", "0.9.0"
      VALUE "InternalName", "cube"
      VALUE "LegalCopyright", "warriorcurio"
      VALUE "OriginalFilename", "cube.exe"
      VALUE "ProductName", "Cubeventures"
      VALUE "ProductVersion", "0.9.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END